.App {
  background-color: rgb(1, 19, 36);
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  min-height: fit-content;
}

.Calc-container {
  background-color: rgb(6, 26, 46);
  border-radius: 10px;
  width: 60vw;
  max-width: 700px;
  height: 27rem;
  min-height: 400px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
